
.menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: black;
	text-align: center 
}

.menu a:hover {
	color: red;
}

a{color: white;}
h2 {color: white;
	background-color:black;
}

body {font-family: Arial, Helvetica, sans-serif; 
	color: white;
	background-image: url("photos\\background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-position: center;
}


.container {
	background-color: #aec3c9;
	padding: 20px ;
	border-radius: 15px;
	max-width: 500px;
	margin: auto;
  }

#LOGO
{
	text-align: center
}

#about
{
	text-align: center
}

#photos
{
	text-align: center
}

#playlist
{
	text-align: center
}

#like
{
	text-align: center
}

#playlist
{
	text-align: center
}

#qrcoder
{
	text-align: center
}

#spa
{
	text-align: center
}

#contact
{
	text-align: center
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: unset;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev:hover, .next:hover {
  color: red;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: unset;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.nextV {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevV {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevV:hover, .nextV:hover {
  color: rad;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Next & previous buttons */
.prevV, .nextV {
  cursor: pointer;
  position: unset;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



input[type=submit] {
	background-color: rgb(221, 4, 4);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  input[type=reset] {
	background-color: rgb(221, 4, 4);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  input[type=text], select, textarea {
	width: 30%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }

